:root {
  --orange-500: #FFA83C;
  --orange-400: #FFC57C;
  --orange-200: #FFF2E1;
  --orange-100: #FFF7ED;
  --black: #000000;
  --gray-500: #8D8D8D;
  --gray-400: #AEAEAE;
  --gray-300: #ECECEC;
  --white: #FFFFFF;
  --magenta: #FF6C6C;
  --strawberry: #F3A7A7;
  --yellow: #FEE500;
  --banana: #F1F3A7;
  --mint: #BBF0A8;
  --blueberry: #C4A7F3;
  --chocolate: #7B4B23;
}

@font-face {
  font-family: "OneMobilePop";
  font-weight: normal;
  src: url("./assets/fonts/OneMobilePop.TTF") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("./assets/fonts/Pretendard-1.3.9/web/static/woff/Pretendard-Medium.woff") format("woff"),
    url("./assets/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Medium.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-1.3.9/public/static/alternative/Pretendard-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("./assets/fonts/Pretendard-1.3.9/web/static/woff/Pretendard-Bold.woff") format("woff"),
    url("./assets/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Bold.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-1.3.9/public/static/alternative/Pretendard-Bold.ttf") format("truetype");
}

body {
  font-family: "Pretendard", sans-serif;
  background-color: var(--orange-100);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-family: "OneMobilePop", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

h2 {
  font-size: 1.06rem;
  font-weight: 500;
}
