:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --orange-color: #FFA83C;
  --light-orange-color: #FFF1DF;
  --yellow-color: #FEE500;
  --light-gray-color: #E9E9E9;
  --dark-gray-color: #AAAAAA;
}
